<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static "blog/Base.css" %}">
  {% block css_files %}{% endblock css_files %}
</head>

<body>
  <header>
    <a href="{% url "home-page" %}"><h1>Harshith Blog</h1></a>
    <section>
    <a href="{% url "all-posts" %}"><h2>All Posts</h2></a>
    <a href="{% url "read-later" %}"><h2>Stored Posts</h2></a>
    </section>
  </header>
  {% block content %}{% endblock content %}
</body>
</html>